<map center="[22.47057, 88.38545]" zoom="14">
	<marker position="[22.47057, 88.38545]" animation="Animation.BOUNCE" id="foo" on-click="showInfoWindow(event, 'bar')"></marker>
  <info-window id="bar" visible-on-marker="foo">
          <div ng-non-bindable>
            <div id="siteNotice"></div>
            <h1>Martbell</h1>
            <div id="bodyContent">
              <p><b>We are here</b></p>
            </div>
          </div>
        </info-window>
</map>
<div class="row-fluid">
<h1 class="text-center" style="font-family: 'Oswald', sans-serif; font-size: 26pt;">How it works?</h1>
<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-fab btn-raised"><i class="fa fa-cart-plus"></i></button>
            <p style="font-family: 'Oswald', sans-serif; font-size: 16pt;"><b>Add a product to the cart</b></p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-fab btn-raised"><i class="fa fa-bars"></i></button>
            <p style="font-family: 'Oswald', sans-serif; font-size: 16pt;"><b>Fill out the delivery details in the checkout form.</b></p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-fab btn-raised"><i class="fa fa-inr"></i></button>
            <p style="font-family: 'Oswald', sans-serif; font-size: 16pt;"><b>Pay at your doorstep.</b></p>
        </div> 
    </div>
</div>

<hr>

<h1 class="text-center" style="font-family: 'Oswald', sans-serif; font-size: 26pt;"><b>The Team</b></h1>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 profile-header-container">   
        <div class="profile-header-img">
                <img class="img-circle" src="http://i.imgur.com/4IPzJf3.gif" />
                <div class="rank-label-container">
                    <span class="label label-default rank-label"><a href="https://in.linkedin.com/in/tinnker14">Sayan Bhattacharya</a></span>
                </div>
            </div>
        </div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 profile-header-container">   
        <div class="profile-header-img">
                <img class="img-circle" src="http://i.imgur.com/Kle1F35.gif" />
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label"><a href="https://in.linkedin.com/pub/aditya-haldar/54/b78/a6a">Aditya Haldar</a></span>
                </div>
            </div>
        </div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 profile-header-container">   
        <div class="profile-header-img">
                <img class="img-circle" src="http://i.imgur.com/YxKZGR1.jpg" />
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label"><a href="https://in.linkedin.com/pub/akash-chakrabarti/b9/528/24">Akash Chakrabarti</a></span>
                </div>
            </div>
        </div>        
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="box">
          <div class="box-icon">
              <span><i class="fa fa-lock fa-4x"></i></span>
          </div>
          <div class="info">
              <h4 class="text-center">Privacy Policy</h4>
              <p>Martbell Solutions Pvt Ltd (“www.martbell.in”) owns and operate this Website.  This document governs your relationship with www.martbell.in (“Website”). Access to and use of this Website and the products and services available through this Website.</p>
              <a class="btn btn-primary" data-toggle="modal" data-target="#complete-dialog">Privacy Policy</a>
          </div>
      </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="box">
          <div class="box-icon">
              <span><i class="fa fa-book fa-4x"></i></span>
          </div>
          <div class="info">
              <h4 class="text-center">Terms and Conditions</h4>
              <p>This Privacy Policy governs the manner in which Martbell Solutions Pvt Ltd collects, uses, maintains and discloses information collected from users (each, a "User") of the www.martbell.in website ("Site"). This privacy policy applies to the Site and all products and services offered by Martbell Solutions Pvt Ltd.</p>
              <a class="btn btn-primary" data-toggle="modal" data-target="#complete-dialog1">Terms and Conditions</a>
          </div>
      </div>
  </div>
</div>


<div id="complete-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title text-center"><b>Terms and Conditions</b></h2>
      </div>
      <div class="modal-body">
        <p>This Privacy Policy governs the manner in which Martbell Solutions Pvt Ltd collects, uses, maintains and discloses information collected from users (each, a "User") of the www.martbell.in website ("Site"). This privacy policy applies to the Site and all products and services offered by Martbell Solutions Pvt Ltd.



<h4><b>Personal identification information</b></h4>



<p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the siteplace an order and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, phone number,

Users may, however, visit our Site anonymously.

We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
</p>


<h4><b>Non-personal identification information</b></h4>


<p>
We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
</p>


<h4><b>Web browser cookies</b></h4>


<p>
Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.


</p>
<h4><b>How we use collected information</b></h4>


<p>
Martbell Solutions Pvt Ltd collects and uses Users personal information for the following purposes:
To improve customer service
Your information helps us to more effectively respond to your customer service requests and support needs.
To personalize user experience
We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
To improve our Site
We continually strive to improve our website offerings based on the information and feedback we receive from you.
To send periodic emails

The email address Users provide for order processing, will only be used to send them information and updates pertaining to their order. It may also be used to respond to their inquiries, and/or other requests or questions. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or User may contact us via our Site.



</p>

<h4><b>
How we protect your information</b></h4>


<p>
We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.



Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.

</p>


<h4><b>Compliance with children's online privacy protection act</b></h4>
<p>
Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our Site from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.
</p>

<h4><b>
Changes to this privacy policy</b></h4>


<p>
Martbell Solutions Pvt Ltd has the discretion to update this privacy policy at any time. When we do, post a notification on the main page of our Site,revise the updated date at the bottom of this page,. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
</p>
<h4><b>Your acceptance of these terms</b></h4>


<p>
By using this Site, you signify your acceptance of this policy and terms of service. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
  </div>

<div id="complete-dialog1" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title text-center"><b>Terms and Conditions</b></h2>
      </div>
      <div class="modal-body">

<h2><b>Privacy Policy</b></h2>

Our privacy policy, which sets out how we will use your information, can be found at (privacy policy link). By using this Website, you consent to the processing described therein and warrant that all data provided by you is accurate.


<br>
<h2><b>Prohibitions</b></h2>

<p>You must not misuse this Website. You will not: commit or encourage a criminal offense; transmit or distribute a virus, trojan, worm, logic bomb or any other material which is malicious, technologically harmful, in breach of confidence or in any way offensive or obscene; hack into any aspect of the Service; corrupt data; cause annoyance to other users; infringe upon the rights of any other person's proprietary rights; send any unsolicited advertising or promotional material, commonly referred to as "spam"; or attempt to affect the performance or functionality of any computer facilities of or accessed through this Website. Breaching this provision would constitute a criminal offense and www.martbell.in will report any such breach to the relevant law enforcement authorities and disclose your identity to them.

We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of this Website or to your downloading of any material posted on it, or on any website linked to it.</p>


<br>
<h2><b>Intellectual Property, Software and Content</b></h2>

<p>The intellectual property rights in all software and content (including photographic images) made available to you on or through this Website remains the property of Martbell Solutions Pvt Ltd or its licensors and are protected by copyright laws and treaties around the world. All such rights are reserved by Martbell Solutions Pvt Ltd and its licensors. You may store, print and display the content supplied solely for your own personal use. You are not permitted to publish, manipulate, distribute or otherwise reproduce, in any format, any of the content or copies of the content supplied to you or which appears on this Website nor may you use any such content in connection with any business or commercial enterprise.
</p>
<br>

<h2><b>Terms of Sale</b></h2>
<p>
By placing an order you are offering to purchase a product on and subject to the following terms and conditions. All orders are subject to availability and confirmation of the order price.

Dispatch times may vary according to availability and subject to any delays resulting from postal delays or force majeure for which we will not be responsible.
</p>
<br>
<p>
In order to contract with Martbell Solutions Pvt Ltd you must be over 13 years of age . Martbell Solutions Pvt Ltd retains the right to refuse any request made by you. If your order is accepted we will inform you by email and we will confirm the identity of the party which you have contracted with. This will usually be a third party. Where a contract is made with a third party Martbell Solutions Pvt Ltd is not acting as either agent or principal and the contract is made between yourself and that third party and will be subject to the terms of sale which they supply you. When placing an order you undertake that all details you provide to us are true and accurate, and that there are sufficient funds to cover the cost of the goods when delivered. The cost of foreign products may fluctuate. All prices advertised are subject to such changes.
</p>
<br>

(a)<h3> <b>Our Contract</b></h3>

When you place an order, you will receive an acknowledgement e-mail confirming receipt of your order: this email will only be an acknowledgement and will not constitute acceptance of your order. A contract between us will not be formed until we send you confirmation by e-mail that the goods which you ordered have been dispatched to you. Only those goods listed in the confirmation e-mail sent at the time of dispatch will be included in the contract formed.

<br>

(b)<h3><b> Pricing and Availability</b></h3>

<p>Whilst we try and ensure that all details, descriptions and prices which appear on this Website or our mobile app are accurate, errors may occur. If we discover an error in the price of any goods which you have ordered we will inform you of this as soon as possible and give you the option of reconfirming your order at the correct price or cancelling it. If we are unable to contact you we will treat the order as cancelled. If you cancel and you have already paid for the goods, you will receive a full refund.

Delivery costs will be charged in addition outside the free delivery radius; such additional charges are clearly displayed where applicable and included in the 'Total Cost'.
</p>
<br>

(c)<h3> <b>Payment</b></h3>

Upon receiving your order the monies received on delivery shall be treated as a deposit against the value of the goods you wish to purchase.

<br>

<h3><b>Disclaimer of Liability</b></h3>
<p>
The material displayed on this Website or mobile app is provided without any guarantees, conditions or warranties as to its accuracy. Unless expressly stated to the contrary to the fullest extent permitted by law Martbell Solutions Pvt Ltd and its suppliers, content providers and advertisers hereby expressly exclude all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity and shall not be liable for any damages whatsoever, including but without limitation to any direct, indirect, special, consequential, punitive or incidental damages, or damages for loss of use, profits, data or other intangibles, damage to goodwill or reputation, or the cost of procurement of substitute goods and services, arising out of or related to the use, inability to use, performance or failures of this Website or the Linked Sites and any materials posted thereon, irrespective of whether such damages were foreseeable or arise in contract, tort, equity, restitution, by statute, at common law or otherwise. This does not affect Martbell Solutions Pvt Ltd liability for death or personal injury arising from its negligence, fraudulent misrepresentation, misrepresentation as to a fundamental matter or any other liability which cannot be excluded or limited under applicable law.
</p>
<br>

<h3><b>Linking to this Website</b></h3>
<p>
You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. You must not establish a link from any website that is not owned by you. This Website must not be framed on any other site, nor may you create a link to any part of this Website other than the home page. We reserve the right to withdraw linking permission without notice.
</p>
<br>

<h3><b>Disclaimer as to ownership of trade marks, images of personalities and third party copyright</b></h3>
<p>
Except where expressly stated to the contrary all persons (including their names and images), third party trade marks and content, services and/or locations featured on this Website are in no way associated, linked or affiliated with Martbell Solutions Pvt Ltd and you should not rely on the existence of such a connection or affiliation. Any trade marks/names featured on this Website are owned by the respective trade mark owners. Where a trade mark or brand name is referred to it is used solely to describe or identify the products and services and is in no way an assertion that such products or services are endorsed by or connected to Martbell Solutions Pvt Ltd.
</p>
<br>

<h3><b>Indemnity</b></h3>
<p>
You agree to indemnify, defend and hold harmless Martbell Solutions Pvt Ltd, its directors, officers, employees, consultants, agents, and affiliates, from any and all third party claims, liability, damages and/or costs (including, but not limited to, legal fees) arising from your use this Website or your breach of the Terms of Service.
</p>
<br>

<h3><b>Variation</b></h3>
<p>
Martbell Solutions Pvt Ltd  shall have the right in its absolute discretion at any time and without notice to amend, remove or vary the Services and/or any page of this Website.
</p>
<br>

<h3><b>Invalidity</b></h3>
<p>
If any part of the Terms of Service is unenforceable (including any provision in which we exclude our liability to you) the enforceability of any other part of the Terms of Service will not be affected all other clauses remaining in full force and effect. So far as possible where any clause/sub-clause or part of a clause/sub-clause can be severed to render the remaining part valid, the clause shall be interpreted accordingly. Alternatively, you agree that the clause shall be rectified and interpreted in such a way that closely resembles the original meaning of the clause /sub-clause as is permitted by law.
</p>
<br>

<h3><b>Complaints</b></h3>
<p>
We operate a complaints handling procedure which we will use to try to resolve disputes when they first arise, please let us know if you have any complaints or comments.
</p>
<br>

<h3><b>Waiver</b></h3>
<p>
If you breach these conditions and we take no action, we will still be entitled to use our rights and remedies in any other situation where you breach these conditions.
</p>
<br>

<h3><b>Entire Agreement</b></h3>

<p>The above Terms of Service constitute the entire agreement of the parties and supersede any and all preceding and contemporaneous agreements between you and Martbell Solutions Pvt Ltd. Any waiver of any provision of the Terms of Service will be effective only if in writing and signed by a Director of Martbell Solutions Pvt Ltd.
</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
  </div>
