<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h2 style="margin-left:10px;"><a class="brand" ui-sref="home">Martbell</a></h2>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-left" style="margin-left:20px;">
        <li ng-class="{active: routeIs('')}" style="font-family: 'Oswald', sans-serif; font-size: 15pt;"><a ui-sref="home"><i class="fa fa-home"></i>Home</a></li>
        <li ng-class="{active: routeIs('about')}" style="font-family: 'Oswald', sans-serif; font-size: 15pt;"><a ui-sref="about"><i class="fa fa-map-pin"></i>About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="logged" ng-class="{active: routeIs('logout')}" style="font-family: 'Oswald', sans-serif; font-size: 15pt;">
          <a ng-click="logout()">Logout</a>
        </li>
        <li ng-hide="logged" ng-class="{active: routeIs('login')}" style="font-family: 'Oswald', sans-serif; font-size: 15pt;">
          <a ui-sref="login">Login<i class="fa fa-user"></i>
</a>
        </li>
      </ul>
    </div>
  </div>