<div class="row-fluid">
<div class="search-background">
<div class="col-xs-12 col-sm-12 col-lg-12 form-group">
<input class="form-control" ng-model="search.$" placeholder="Search for a store &#128270;" type="text"></div></div>
	<div class="col-xs-12 col-sm-4 col-lg-3  well well-lg">
  	<h3 class="default"><i class="fa fa-filter"></i>Filter Stores</h3>
    <hr>
      <form>
        <h4 style="font-family: 'Oswald', sans-serif;">Rating</h4>
          <fm-rating ng-model="$parent.search.rating" symbol="&#9733;" ></fm-rating>
        
        <h4 style="font-family: 'Oswald', sans-serif;">Price</h4>
         <fm-rating ng-model="$parent.search.price" symbol="₹"></fm-rating>
        <hr>
        <div>
        <h3 style="font-family: 'Oswald', sans-serif;"><i class="fa fa-server"></i>Category</h3>
          <select style="width: 190px;!important" ng-model="search.category" ng-options="name for (category, name) in CATEGORY_OPTIONS"><option value="">Choose Category</option></select>
        <h3 style="font-family: 'Oswald', sans-serif;"><i class="fa fa-map"></i>City</h3>
          <select style="width: 190px;!important" ng-model="search.city" ng-options="name for (city, name) in CITY_OPTIONS"><option value="">Choose City</option></select>
        <h3 style="font-family: 'Oswald', sans-serif;"><i class="fa fa-map-pin"></i>Area</h3>
          <select style="width: 190px;!important" ng-model="search.area" ng-options="name for (area, name) in AREA_OPTIONS"><option value="">Choose Area</option></select>
        </div>
      </form>
  </div>

  <div class="col-xs-12 col-sm-7 col-lg-9 pull-right well">
     <h4 ng-show="error" ng-cloak>{{error}}</h4>
    <table class="table table-hover table-striped" ng-cloak>
      <tr class="primary">
        <th>Sort by:  <a href="" ng-class="{activeSort: orderIs('name')}" ng-click="order='name'" style="margin-left: 50px; font-family: 'Oswald', sans-serif;">Name</a></th>
        <th><a href="" ng-class="{activeSort: orderIs('actions.ratings.avg')}"ng-click="order='actions.ratings.avg'" style="font-family: 'Oswald', sans-serif;">Rating</a></th>
        <th><a href="" ng-class="{activeSort: orderIs('price')}" ng-click="order='price'" style="font-family: 'Oswald', sans-serif;">Price</a></th>
      </tr>
      <tr class="active" ng-repeat="storefront in storefronts | orderBy:order | filter:search.$:strict | limitTo:totalstoresDisplayed" >
        <td>
          <a ui-sref="menu ({id: storefront.instance._id, name: storefront.instance.name})">
            <img class="img-rounded pull-left" width="100" height="100" ng-src="{{storefront.instance.photo}}" style="margin-right:10px;">
            <b style="font-family: 'Oswald', sans-serif; font-size: 15pt;">{{storefront.instance.name}} - {{storefront.instance.speciality}}</b>
          </a>
          <p style="font-size: 12pt;">{{storefront.instance.description}}</p>
        </td>
        <td>
          <fm-rating ng-model="$parent.storefront.instance.actions.ratings.avg" readonly="true" symbol="&#9733;"></fm-rating>
        </td>
        <td>
          <fm-rating ng-model="$parent.storefront.instance.price" symbol="₹" readonly="true" ></fm-rating>
        </td>
      </tr>
    </table>
  </div>  
  <div>
<button class="btn btn-sm btn-success btn-raised" ng-click="loadstoresMore()">Load more</button></div>
  
    </div>

  </div> 
