<div class="container">
    <div class="login-container">
        <div id="output"></div>
            <img class=avatar src="/assets/mb1.jpg">
            <div class="form-group">
                <form action="" method="">
                     <input class="form-control" ng-pattern="EMAIL" ng-model="email" id="focusedInput" placeholder="Email" data-hint="Login with your email id" type="text">
                        <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
                        <br></br>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" id="login" ng-click="login()" value="Login »">
                        <div style="margin-top:10px"><label>{{error}}</label></div>
                </form>
            </div>
            <div class="text-center"><a ui-sref="registration">Not have an account? click here</a></div> 
        </div>
        
</div>
