<div ng-cloak>
  
<map zoom="3" center="[22.9734229, 78.65689420000001]" style="height:300px">
<marker position="[{{storefront.lattitude}}, {{storefront.longitude}}]" id="foo1" animation="Animation.BOUNCE"  on-click="showInfoWindow(event, 'bar1')" icon="{
        url:'assets/mb1.jpg', 
        scaledSize:[50,50]
      }" centered="true"></marker>

      <info-window id="bar1" visible-on-marker="foo1">
          <div ng-non-bindable>
            <div id="siteNotice1"></div>
            <h2><b>{{storefront.name}},{{storefront.speciality}}</b></h2>
          </div>
        </info-window>
<marker position="current" animation="Animation.BOUNCE" id="foo2" on-click="showInfoWindow(event, 'bar1')" centered="true"></marker>
    <info-window id="bar2" visible-on-marker="foo2">
          <div ng-non-bindable>
            <div id="siteNotice2"></div>
            <h3><b>My Location</b></h3>
          </div>
        </info-window>
    </map>

    <div class="row fm-storefront">
      <div class="col-md-2">
        <img ng-src="{{storefront.photo}}" class="img-rounded">
      </div>
    <div class="col-md-9">
      <h3 style="font-family: 'Oswald', sans-serif; font-size: 25pt;"><b><i class="fa fa-building-o"></i>{{storefront.name}},{{storefront.speciality}}</b></h3>
      <h3 ng-show="error" ng-cloak>{{error}}</h3>
      <div class="row">
        <div class="col-md-2">
          <fm-rating ng-model="$parent.storefront.actions.ratings.avg" symbol="&#9733;" readonly="true"></fm-rating>
          <fm-rating ng-model="$parent.storefront.price" symbol="₹" readonly="true" ></fm-rating>
        </div>
        <div class="col-md-2">
          <div><h5 style="font-family: 'Oswald', sans-serif; font-size: 18pt;">{{storefront.description}}</h5></div>
        </div>
        <div class="col-md-6">
          <div><h5 style="font-family: 'Oswald', sans-serif; font-size: 18pt;"><i class="fa fa-map-marker"></i>{{storefront.area}},{{storefront.city}}</h5>

          <h5 style="font-family: 'Oswald', sans-serif; font-size: 12pt;"><i class="fa fa-motorcycle"></i>Delivers within {{storefront.delivery_radius}} kms</h5>
          <div class="pull-right">
          <h4 style="font-family: 'Oswald', sans-serif; margin-left:200px; font-size: 14pt; float: right;">Minimum order accepted is ₹ {{storefront.price}}</h4></div>
          </div>
        </div>
        <div class="col-md-2" ng-show="user.logged">
          Your Vote:
          <fm-rating deleted="true" ng-model="$parent.yourvote" symbol="&#9733;" ng-disabled="$parent.voted" model="{{$parent.storefront._id}}"></fm-rating>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="search-background">
<div class="col-xs-12 col-sm-12 col-lg-12 form-group">
<input class="form-control" ng-model="search.$" placeholder="Search for a product&#128270;" type="text"></div></div>
<hr>

<div id="reveal" class="col-xs-12 col-sm-6 col-lg-9 row"> <!-- entire body page div -->

    <div class="col-xs-12 col-sm-6 col-lg-9 card card-division" ng-repeat="menuItem in storefront.menuItems | filter:search:strict | orderBy:ordered | limitTo:totalDisplayed"> <!-- CARD -->
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator img-rounded" ng-src="{{menuItem.photo}}" >
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{menuItem.name}}
            </span>
            <p><b>₹{{menuItem.price}}</b></p>
            </div>
            <div class="card-content1">
            <a class="btn btn-primary btn-fab btn-raised" ng-click="addToCart(menuItem)"><i class="fa fa-plus"></i>
</a>
          </div>
        </div>
      </div> <!-- Card End -->

    <div class="col-xs-12 col-sm-6 col-lg-3 offset-l9 fm-panel fm-cart">
    <h4 class="text-center" style="font-family: 'Oswald', sans-serif; font-size: 18pt;"><b>Your order</b></h4>
    <form>
      <ul class="unstyled">
        <li ng-repeat="item in cart.items" style="font-family: 'Oswald', sans-serif; font-size: 12pt;">
          {{item.name}} - ₹{{item.price}}
          <a href class="pull-right" style="color:red" ng-click="removeToCart(item)" style="font-family: 'Oswald', sans-serif;"><i class="fa fa-trash-o"></i></a>
        </li>
      </ul>
      <div class="modal-footer" ng-show="cart.items.length">
        <label style="font-family: 'Oswald', sans-serif; font-size: 18pt; margin-top: 30px;"> </label>
        <a  ng-disabled="!cart.items.length" class="btn btn-primary btn-fab btn-raised" ng-click="showModal()"><i class="fa fa-shopping-cart"></i></a>
      </div>
      <div class="pull-right">
        <b style="font-family: 'Oswald', sans-serif; font-size: 15pt;">Total: ₹{{cart.total}} </b>
      </div>
    </form>
  </div> 
<div>
<button class="btn btn-sm btn-success btn-raised" ng-click="loadMore()">Load more</button></div>
<div class="modal" id="checkoutModal" tabindex="-1" role="dialog" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" style="font-family: 'Oswald', sans-serif; font-size: 18pt;" id="myModalLabel">Your Order</h4>
      </div>
      <div class="modal-body">
        <ul class="unstyled" style="overflow: auto;max-height: 100px; font-family: 'Oswald', sans-serif; font-size: 18pt;">
          
          <li ng-repeat="item in cart.items">
            <p> {{item.name}} 
            <span class="pull-right"> {{item.price}} ₹ </span>
            </p> 
          </li>

        </ul>
        <hr>
        Total: <p class="pull-right" style="background-color: gold;padding: 8px; font-family: 'Oswald', sans-serif; font-size: 18pt;">{{cart.total}} ₹</p>
        
        <div style="margin-top:27px;">
          <form class="form-horizontal">
            <fieldset>
              <legend style="font-family: 'Oswald', sans-serif; font-size: 18pt;">Delivery Info</legend>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="col-md-9">
                      <input type="text" ng-pattern="email" class="form-control" id="email" ng-model="delivery.email" placeholder="Email" style="padding: 14px;">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="address" ng-model="delivery.address" placeholder="Address" style="padding: 14px;">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="surname"  ng-model="delivery.surname" placeholder="Surname" style="padding: 14px;"></input>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="phone" ng-model="delivery.phone" placeholder="Phone" style="padding: 14px;"></input>
                      </div>
                    </div>
                </div>
            </fieldset>
          </form>
      </div>
      <div class="modal-footer">
        <span><button type="button" class="btn btn-sm btn-success btn-raised" ng-click="checkout(storefront)" style="font-size:22pt;">Checkout</button></span>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="modal fade" id="paymentModal" role="dialog" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" style="font-family: 'Oswald', sans-serif; font-size: 18pt;">Order Complete</h4>

      </div>
      <div class="modal-body">
        <p style="font-family: 'Oswald', sans-serif; font-size: 18pt;">Your order has been sent</p>
        <p style="font-family: 'Oswald', sans-serif; font-size: 18pt;">Please check your email</p>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-primary pull-right" ng-click="dismiss()" style="font-family: 'Oswald', sans-serif; font-size: 18pt;">Ok</button>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
$(function(){
        var stickyHeaderTop = $('#stickytypeheader').offset().top;
 
        $(window).scroll(function(){
                if( $(window).scrollTop() > stickyHeaderTop ) {
                        $('#stickytypeheader').css({position: 'fixed', top: '0px'});
                        $('#sticky').css('display', 'block');
                } else {
                        $('#stickytypeheader').css({position: 'static', top: '0px'});
                        $('#sticky').css('display', 'none');
                }
        });
  });
</script>
